*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* STRUCTURE */
.content_header{
    height: 50px;
}

.bg_green{
    background-color: #1ABC9C;
}

.content_portofolio_title{
    background-color: gray;
    height: 120px;
}

.content_portfolio{
    height: 200px;
    background-color: yellowgreen;
}

.about_title{
    background-color: gray;
    height: 120px;
}

.about_text{
    background-color: orange;
    height: 250px;
}

.about_download_button{
    background-color: goldenrod;
    height: 50px;
}

.content_contact_me{
    background-color: yellowgreen;
    height: 400px;
}

.bg_footer_up{
    background-color: #3A546D;
}

.content_location{
    height: 100px;
    background-color: purple;
}

.content_around_the_web{
    height: 100px;
    background-color: orange;
}

.content_freelancer{
    height: 100px;
    background-color: yellow;
}

.content_copyright{
    height: 60px;
    background-color: yellowgreen;
}

.bg_oil{
    background-color: #2C3E50;
}

/* HEADER */
#hamburger{
    color: #767e86;
    border: 2px solid #b0b2b5;
    border-radius: 5px;
    padding: 5px 10px;
    display: block;
}

/* JUMBO */
.content_jumbotron img{
    width: 100%;
}

#avatar{
    width: 250px;
}

#jumbo_title{
    font-size: 35px;
    padding: 20px 0;
}

#star{
    font-size: 30px;
    color: white;
    width: 70%;
    overflow: hidden;
    text-align: center;
}

#star:before, #star:after{
    content: "";
    display: inline-block;
    width: 25%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 5px solid;
    border-radius: 10px;
}

#star:after{
    margin: 0 -55% 0 .5em;
}

.jumbo-list ul li{
    list-style-type: none;
    margin: 0 5px;
    font-size: 16px;
}

@media screen and (min-width: 768px){
    .header-list span{
        margin-left: 15px;
    } 
    
    #jumbo_title{
        font-size: 60px;
    }

    .jumbo-list ul li{
        font-size: 25px;
    }


}