*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* STRUCTURE */
.content_header{
    height: 50px;
}

.bg_green{
    background-color: #1ABC9C;
}

.bg_footer_up{
    background-color: #3A546D;
}

.bg_oil{
    background-color: #2C3E50;
}

/* HEADER */
#hamburger{
    color: #767e86;
    border: 2px solid #b0b2b5;
    border-radius: 5px;
    padding: 5px 10px;
}

/* JUMBO */
.content_jumbotron img{
    width: 100%;
}

#avatar{
    width: 250px;
}

#jumbo_title{
    font-size: 35px;
    padding: 20px 0;
}

.star{
    font-size: 30px;
    width: 70%;
    overflow: hidden;
    text-align: center;
}

.star:before, .star:after{
    content: "";
    display: inline-block;
    width: 25%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 5px solid;
    border-radius: 10px;
}

.star:after{
    margin: 0 -55% 0 .5em;
}

.jumbo-list ul li{
    list-style-type: none;
    margin: 0 5px;
    font-size: 16px;
}

/* PORTFOLIO */
#portfolio-title{
    font-size: 25px;
}

#portfolio{
    padding-top: 5px;
    padding-bottom: 50px;
}

/* ABOUT */
.about{
    padding: 30px 0;
}

#about{
    font-size: 25px;
}

.about_text_left p{
    font-size: 20px;
    padding: 0 80px;
}

.about_text_right p{
    font-size: 20px;
    padding: 0 80px;
}

.fa-download{
    margin-right: 5px;
}

/* CONTACT ME */
#contact-title{
    font-size: 25px;
}

.my-imput, #comment{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

#comment{
    height: 150px;
}

.form-contact{
    padding: 10px 80px;
}

#send-button{
    margin: 20px 0;
}


/* FOOTER */
.content_location div, 
#the-web,
#freelancer{
    font-size: 20px;
}

.icons-container{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 5px 8px;
}

.icons-footer i{
    font-size: 20px;
    margin: 5px 10px;
}

#start-bootstrap{
    color: #239F8E;
}

.content_freelancer div{
    font-size: 20px;
}

.content_copyright{
    padding: 30px 0;
}

.bg_footer_up{
    padding: 40px 5px;
}

@media screen and (min-width: 768px){
    .header-list span{
        margin-left: 15px;
    } 
    
    #jumbo_title{
        font-size: 60px;
    }

    .jumbo-list ul li{
        font-size: 25px;
    }

    #portfolio-title{
        font-size: 40px;
    }

    #about{
        font-size: 40px;
    }
    
    .about_text_left p{
        padding-left: 80px;
        padding-right: 0;
    }
    
    .about_text_right p{
        padding-left: 0;
        padding-right: 80px;
    }
}